@import url('https://fonts.googleapis.com/css?family=BioRhyme');

.App {
  height: 100vh;
  width: 100vw;
}

.auth {
  background-color: #2f4f4f;
  padding: 5vh;
  height: 100%;
  width: 100%;
}

.setup {
  background-color: #2f4f4f;
  padding: 5vh;
  height: 100%;
  width: 100%;
  overflow: auto
}

.featureText {
  font-family: 'BioRhyme', serif;
}

.wrapper {
  height: 100%;
  margin-bottom: 2%;
}


.editor {
  background-color: #F1F1F1;
  height: 90%;
  padding: 2%;
}
