@import url('https://fonts.googleapis.com/css?family=BioRhyme');

.App {
  height: 100vh;
  width: 100vw;
}

.auth {
  background-color: #2f4f4f;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 15%;
  height: 100%;
  width: 100%;
  overflow: auto
}

.setup {
  background-color: #2f4f4f;
  padding: 5vh;
  height: 100%;
  width: 100%;
  overflow: auto
}

.featureText {
  font-family: 'BioRhyme', serif;
  color: white;
  font-size: 36px;
}

.wrapper {
  height: 100%;
  margin-bottom: 2%;
}


.editor {
  background-color: #F1F1F1;
  height: 90%;
  padding: 2%;
}

.circleAnimation {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;
  background-color: #f8f8ff;
  border-color: #00FF00;
  transform-origin: 50% 50%;
}
